<div class="in-app-notification">
  <h3>Expiration prochaine de votre paiement ⏳</h3>
  <p>Complétez vos données biométriques avant l'expiration de votre paiement ! Commencez par l'étape 1. Scannez votre passeport en seulement 10 secondes.</p>
  <p>Ne perdez pas votre place !</p>
</div>