<p>Hello <%= name %>,</p>

<p>We noticed multiple failed login attempts on your account. As a security measure, your account has been temporarily locked to protect it from unauthorized access.</p>

<p>Your account will automatically unlock after <%= unLockInterval %> minutes. Alternatively, you can reset your password now to regain immediate access.</p>

<p>Please rest assured that your account remains secure. For added protection, we recommend reviewing your login credentials.</p>

<p>If you have any concerns or need further assistance, feel free to contact us at <%= supportEmail || 'support@seamfix.com' %>.</p>

<p>Best regards,<br/>Seamfix</p>