<p>Hello <%= name %>,</p>

<p>We detected a failed login attempt on your account on <%= date %>.</p>

<p>The attempt was made from the following details:</p>
<ul>
  <li>Device/Browser: <%= browserName %></li>
</ul>

<p>
  Please rest assured that your account remains secure, as no unauthorized
  access occurred.
</p>

<p>
  If this attempt wasn't made by you, we recommend that you reset your password
  immediately.
</p>

<p>If you have any concerns or need help, contact us admin</p>

<p>
  Best regards,<br />
  Seamfix
</p>
