<p class="c1">
  <span class="c7"> Dear <%= name %> </span>
</p>

<p class="c1">
  <span class="c4">
    Your password will expire in <%= warningPeriodDays %> days.
    <br />
    <br />
    Please reset your password before <%= warningPeriodDays %> days. If you have
    any questions or need assistance, please contact the support team.
  </span>
</p>
<p class="c1">
  <span class="c4">Best regards,</span>
</p>
