<p>Bonjour <%= name %>,</p>

<p>Nous avons détecté plusieurs tentatives de connexion échouées sur votre compte. Par mesure de sécurité, votre compte a été temporairement verrouillé pour le protéger contre tout accès non autorisé.</p>

<p>Votre compte se déverrouillera automatiquement après <%= unLockInterval %> minutes. Vous pouvez également réinitialiser votre mot de passe maintenant pour récupérer un accès immédiat.</p>

<p>Soyez assuré(e) que votre compte reste sécurisé. Pour une protection supplémentaire, nous vous recommandons de vérifier vos identifiants de connexion.</p>

<p>Si vous avez des préoccupations ou besoin d'assistance, n'hésitez pas à nous contacter à <%= supportEmail || 'support@seamfix.com' %>.</p>

<p>Cordialement,<br/>Seamfix</p>