<div>
  <p>Bonjour,</p>
  <h2><%= otp %></h2>
  <p>
    Ce code OTP est valable pendant les <%= minutes %> prochaines minutes. Si
    vous n'avez pas fait cette demande, veuillez ignorer cet e-mail.
  </p>
  <p>Cordialement,<br />Votre équipe</p>
</div>
