<p class="c1">
  <span class="c7"> Cher/Chère <%= name %> </span>
</p>

<p class="c1">
  <span class="c4">
    Votre mot de passe expirera dans <%= warningPeriodDays %> jours.
    <br />
    <br />
    Veuillez réinitialiser votre mot de passe avant <%= warningPeriodDays %>
    jours. Si vous avez des questions ou besoin d'aide, veuillez contacter
    l'équipe de support.
  </span>
</p>
<p class="c1">
  <span class="c4">Cordialement,</span>
</p>
