<div class="in-app-notification">
  <h3>Reminder: Scan Your Passport 📄</h3>
  <p>You authorized payment 6 hours ago but haven't scanned your passport yet. Step 1 only takes 10 seconds and unlocks the rest of the process.</p>
  <p>Make sure your passport is on a flat surface with good lighting. The app will guide you!</p>
</div>