<div class="in-app-notification">
  <h3>Scan Your Passport ⏳</h3>
  <p>It's been 24 hours since you authorized payment, but you haven't scanned your passport yet. Your payment is on hold until all biometric steps are done.</p>
  <p>Select "Start Biometric Capture" and begin! It only takes 10 seconds!</p>
</div>